<a id="logo" href="/">
	<span id="header-title">
        Guide <abbr title="Conseil des Moniteurs et de l'Encadrement Bénévole">CDMEB</abbr>
    </span>
    <img src="/images/SO33_mouillage_sperone_w270_P6291513_kraken.jpg" alt=""/>
</a>
